.home-page header{
    background-image: url( ../Image/Header_Image.jpg)
    ;
}
header{
    background-size: cover;
    background-position: center;
}
header h1{
    font-size: 5rem;
}

.home-page header h1 , .home-page header h2 {
    text-shadow: 2px 2px 8 px red;
}

@media only screen and (max-width: 760px)
{
    header h1 {
        font: size 3rem; ;
    }
}