@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

.fira-sans condensed-regular-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
}


.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

body {

    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
}

code {
    font-family: "Fira Sans Condensed", sans-serif;
}

#restname {
    font-family: "Roboto Slab", serif;
    color: rgb(57, 134, 100);
}